[submodule "Engine/Libs/SDL"]
	path = Engine/Libs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Engine/Libs/Glm"]
	path = Engine/Libs/Glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/Libs/Spdlog"]
	path = Engine/Libs/Spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/Libs/VulkanMemoryAllocator"]
	path = Engine/Libs/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Engine/Libs/Assimp"]
	path = Engine/Libs/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/Libs/Slang"]
	path = Engine/Libs/Slang
	url = https://github.com/shader-slang/slang.git
